infrastructure-*/.terraform*
infrastructure-*/states/*
k8s-*/.terraform*
k8s-*/states/*
export.sh
charlotte-example/.terraform.lock.hcl
charlotte-example/.terraform/*
charlotte-example/states/*
k8s-yandex-cluster-naked/terraform.tfstate
k8s-yandex-cluster-naked/terraform.tfstate.backup
